body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.itemImage{
  max-height: 300px;
}

.fab-edit{
  opacity: 50%;
  float: right;
}

.items-grid {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2em 1em;
}

.grid-container {
  padding: 25px;
}

.plus-minus {
  position: relative;
}

.plus {
  position: absolute;
  top: -4px;
  left: 2px;
  cursor: pointer;
}

.minus {
  position: absolute;
  top: 8px;
  left: 5px;
  cursor: pointer;
}

.vsm-text:hover {
  color: #FF5252;
}

.logoimg{
  height: 100px;
  width: 100px;
  background-image: url("./images/cube-logo.png");
}

.col4 h5{
  font-size: 13px;
}

.book{
  height: 160px;
}

.bookimg {
  width: auto;
  height: 150px;
  border-radius: 5px;
}

.book {
  margin: 20px 15px 5px 15px;
}

.border-top {
  border-top: 1px solid #EEEEEE !important;
  margin-top: 20px;
  padding-top: 15px;
}

.card {
  margin: 40px 0px;
  padding: 40px 50px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

input,
textarea {
  background-color: #F3E5F5;
  padding: 8px 15px 8px 15px;
  width: 100%;
  border-radius: 5px !important;
  box-sizing: border-box;
  border: 1px solid #F3E5F5;
  font-size: 15px !important;
  color: #000 !important;
  font-weight: 300;
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #9FA8DA;
  outline-width: 0;
  font-weight: 400;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.pay {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #673AB7;
  margin: 10px 20px 10px 0px;
  cursor: pointer;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  color: #E0E0E0;
}

.gray .pay {
  box-shadow: none;
}

#tax {
  border-top: 1px lightgray solid;
  margin-top: 10px;
  padding-top: 10px;
}


.btn-blue {
  border: none;
  border-radius: 10px;
  background-color: #673AB7;
  color: #fff;
  padding: 8px 15px;
  margin: 20px 0px;
  cursor: pointer;
}

.btn-blue:hover {
  background-color: #311B92;
  color: #fff;
}

#checkout {
  float: left;
}

.navButtonOption:active{
  font-weight: bold;
  text-decoration-style: underline;
}

#check-amt {
  float: right;
}

@media screen and (max-width: 768px) {

  .book,
  .book-img {
    width: 150px;
    height: 150px;
  }

  .card {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mob-text {
    font-size: 13px;
  }

  .pad-left {
    padding-left: 20px;
  }
}