body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.itemImage{
  max-height: 260px;
  min-height: 260px;
  image-orientation: center;
}

.fab-edit{
  opacity: 50%;
  float: right;
  font-size: inherit;
  list-style: 1;
}

.descriptionInfo{
  font-size: 13px;
}

.descriptionInfoEdit{
  width: 80%;
  font-size: 13px;
}

.items-grid {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2em 1em;
}

.grid-container {
  padding: 25px;
}

.plus-minus {
  position: relative;
}

.bottom-card-details{
  position:absolute;
  bottom: 0;
  margin:0 auto;
}

.card-details{
  height: 210px;
}


.plus {
  position: absolute;
  top: -4px;
  left: 2px;
  cursor: pointer;
}

.minus {
  position: absolute;
  top: 8px;
  left: 5px;
  cursor: pointer;
}

.vsm-text:hover {
  color: #FF5252;
}

.logoimg{
  height: 100px;
  width: 100px;
  background-image: url("./images/cube-logo.png");
}

.col4 h5{
  font-size: 13px;
}

.book{
  height: 160px;
}

.bookimg {
  width: auto;
  height: 150px;
  border-radius: 5px;
}

.book {
  margin: 20px 15px 5px 15px;
}

.border-top {
  border-top: 1px solid #EEEEEE !important;
  margin-top: 20px;
  padding-top: 15px;
}

.oneItemCard{
  margin: 40px 0px;
  border-radius: 20px;
  border: none;
  height: 510px;
  position: relative;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.card {
  /* margin: 40px 0px;
  padding: 40px 50px; */
  /* max-width: 285px;
  min-width: 280px;
  max-height: 530px; */
  border-radius: 20px;
  border: none;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.editItemInput{
  border: none;
  padding: 12px 12px;
  width: 70%;
  font-size: 18px;
  border-bottom: 1px solid black;
  border-radius: none;
  text-align: center;
}

#divDesc{
  width: 70%;
}

textarea#my-input{
  border: none;
  padding: 12px 12px;
  font-size: 18px;
  line-height: 1;
  border-bottom: 1px solid black;
  border-radius: none;
  text-align: center;
  }


textarea#my-input {
  border: none;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid black;
  border-radius: none;
  text-align: center;
  justify-content: center;
  line-height: 1;
}

.label{
  font-family: monospace;
  text-align: center;
  align-items: center;
  font-size: 17px;
}

#my-helper-text{
  text-align: center;
}

#my-helper-price {
  text-align: center;
}

input,
textarea {
  padding: 8px 15px 8px 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif;
  /* font-size: 12px !important; */
  color: #000 !important;
  font-weight: 300;
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
  font-size: 14px;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.pay {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #673AB7;
  margin: 10px 20px 10px 0px;
  cursor: pointer;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  color: #E0E0E0;
}

.gray .pay {
  box-shadow: none;
}

#tax {
  border-top: 1px lightgray solid;
  margin-top: 10px;
  padding-top: 10px;
}


.btn-blue {
  border: none;
  border-radius: 10px;
  background-color: #673AB7;
  color: #fff;
  padding: 8px 15px;
  margin: 20px 0px;
  cursor: pointer;
}

.btn-blue:hover {
  background-color: #311B92;
  color: #fff;
}

#checkout {
  float: left;
}

.navButtonOption:active{
  font-weight: bold;
  text-decoration-style: underline;
}

#check-amt {
  float: right;
}

.XIconContainer {
  display: flex;
  cursor: pointer;
  position: relative;
  padding-top: 1.2rem;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}


#modal1, #modal2{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin: 1.2rem;
}

#modal1:hover, #modal2:hover {
  background-color: rgb(212, 232, 198);
  border: 2px solid black;
  margin: 1.2rem;
}

.modal-content {
  border-radius: 8px;
  text-align: left;
  align-items: center;
  width: 80%;
  padding: 0 1.5rem 1rem 1.5rem;
  align-items: center;
}

@media screen and (max-width: 768px) {

  .book,
  .book-img {
    width: 150px;
    height: 150px;
  }

  .card {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mob-text {
    font-size: 13px;
  }

  .pad-left {
    padding-left: 20px;
  }
}