body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test{
  color:#583d33
}

.icon-style{
  font-size: 2rem;
  stroke:"white"
}

.itemImage{
  image-orientation: center;
  max-height: 260px;
  object-position:center;
  object-fit: cover;
}

.profileBioBox{ 
  /* position: right; */
  margin: 1.2em;
  float:right;
  align-items: center;
  justify-content: center;
  text-align: left;
  min-width: 240px;
  max-width: 340px;
  width: auto;
  height: inherit;
  padding: 1.7em;
  border: 2px solid #583d33;
  background-color: rgb(192, 170, 157);
}

.profItemImage{
  height: 230px;
  object-fit: cover;
}


.fab-edit{
  opacity: 60%;
  margin-right: 8rem;
  font-size: inherit;
  list-style: 1;
}

.header {
  font-size: 90px;
  color: rgb(84, 43, 43);
  text-align: center;
  position: relative;
  justify-content: center;
  font-family: monospace;
  font-weight: normal;
}

.descriptionInfo{
  font-size: 13px;
}

.descriptionInfoEdit{
  width: 80%;
  font-size: 13px;
}

.items-grid {
  grid-template-columns:1fr 1fr 1fr 1fr;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* margin: 20px; */
  grid-template-rows: auto;
  grid-gap: 1em 1em;
}

.profileGrid{
  margin-bottom: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1em 1em;
}


.grid-container {
  padding: 15px;
}

.plus-minus {
  position: relative;
}


.bottom-card-details{
  position:absolute;
  padding-left: 8px;  
  bottom: 0;
  margin:0 auto;
}

.card-details{
  height: 210px;
}


.plus {
  position: absolute;
  top: -4px;
  left: 2px;
  cursor: pointer;
}

.minus {
  position: absolute;
  top: 8px;
  left: 5px;
  cursor: pointer;
}

.vsm-text:hover {
  color: #FF5252;
}

.logoimg{
  height: 100px;
  width: 100px;
  background-image: url("./images/cube-logo.png");
}

.col4 h5{
  font-size: 13px;
}

.heading-container{
  padding: 30px;
  margin: 50px;
  flex-direction: column;
  display: flex;
  border: 1px solid black;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.profileContainer{
  align-items: center;
  position: relative;
  height: 100%;
  justify-content: center;
}

Avatar{
  justify-content: center;
  position: relative;
  align-self: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.cartHeaderRow{
  border-bottom: 1px solid black;
  margin-bottom: 1.6rem;
}

.disabled:disabled{
    background: #dddddd;
}

.checkoutBtn{
  padding: 10px 20px;
  margin-left: 1rem;
  font-size: 20px;
  color:#000;
  font-family: monospace;
  background-color: white;
  border-color: 1px solid black;
  text-align: right;
  margin-top: 1rem;
}

.book{
  height: 160px;
}

.bookimg {
  width: 200px;
  height: 150px;
  object-fit: cover;
  max-height: 150px;
  border-radius: 5px;
}

.book {
  margin: 20px 15px 5px 15px;
}

.border-top {
  border-top: 1px solid #EEEEEE !important;
  margin-top: 20px;
  padding-top: 15px;
}

.oneItemCard{
  margin: 20px 20px;
  border-radius: 20px;
  border: none;
  height: 460px;
  width: 280px;
  position: relative;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.profOneItemCard{
    border: none;
    width: 240px;
    height: auto;
    max-height: 350px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    align-items: left;
    justify-content: left;
    position: relative;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.savedItemCard {
  border: none;
  width: 240px;
  max-height: 400px;
  height: auto;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  align-items: left;
  justify-content: left;
  position: relative;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.profOneItemBottom{
  margin-bottom: 10px;
  text-align: left;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.editItemInput{
  border: none;
  padding: 12px 12px;
  width: 70%;
  font-size: 18px;
  border-bottom: 1px solid black;
  border-radius: none;
  text-align: center;
}

#divDesc{
  width: 70%;
}

textarea#my-input{
  border: none;
  padding: 12px 12px;
  font-size: 18px;
  line-height: 1;
  border-bottom: 1px solid black;
  border-radius: none;
  text-align: center;
  }


textarea#my-input {
  border: none;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid black;
  border-radius: none;
  text-align: center;
  justify-content: center;
  line-height: 1;
}

textarea#my-item-input{
    border: none;
    font-size: 14px;
    border-bottom: 1px solid black;
    border-radius: none;
    text-align: left;
}

.label{
  font-family: monospace;
  text-align: center;
  align-items: center;
  font-size: 17px;
}

#my-helper-text{
  text-align: center;
}

#my-helper-price {
  text-align: center;
}

input,
textarea {
  padding: 8px 15px 8px 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif;
  /* font-size: 12px !important; */
  color: #000 !important;
  font-weight: 300;
}

#root.div.div.header.div.div.div.MuiBox-root.css-1t6c9ts.button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-xpprwh-MuiButtonBase-root-MuiButton-root.span.MuiBadge-root.BaseBadge-root.css-3ulxv9-MuiBadge-root.span.MuiBadge-badge.MuiBadge-standard.MuiBadge-anchorOriginTopRight.MuiBadge-anchorOriginTopRightRectangular.MuiBadge-overlapRectangular.BaseBadge-badge.css-fvc8ir-MuiBadge-badge{
  background-color: pink;
}


input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
  font-size: 14px;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.pay {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #673AB7;
  margin: 10px 20px 10px 0px;
  cursor: pointer;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  color: #E0E0E0;
}

.gray .pay {
  box-shadow: none;
}

#tax {
  border-top: 1px lightgray solid;
  margin-top: 10px;
  padding-top: 10px;
}

#signUpButton:hover{
  font-weight: bold;
}


.btn-blue {
  border: none;
  border-radius: 10px;
  background-color: #673AB7;
  color: #fff;
  padding: 8px 15px;
  margin: 20px 0px;
  cursor: pointer;
}

.btn-blue:hover {
  background-color: #311B92;
  color: #fff;
}

#checkout {
  float: left;
}

.navButtonOption:active{
  font-weight: bold;
  text-decoration-style: underline;
}

#check-amt {
  float: right;
}

.XIconContainer {
  display: flex;
  cursor: pointer;
  position: relative;
  padding-top: 1.2rem;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.modal-button-container{
  height: auto;
  max-height: 200px;
  padding-top: 1rem;
}

.detail-modal-button-container {
  padding-top: .2rem;
}

#detailModal1 {
  background-color: white;
  border: 1px solid rgb(73, 58, 50);
  padding-left: 2rem;
  padding-right: 2rem;
  color: 1px solid rgb(73, 58, 50);
  padding-top: .3rem;
  padding-bottom: .3rem;
}

#detailModal1:hover {
  background-color: rgb(212, 232, 198);
  border: 2px solid black;
  /* margin: 1.2rem; */
}


#modal1, #modal2{
    background-color: white;
    border: 1px solid rgb(73, 58, 50);
    padding-left: 2rem;
    padding-right: 2rem;
    color: 1px solid rgb(73, 58, 50);
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin: 1rem;
}

#modal1:hover, #modal2:hover {
  background-color: rgb(212, 232, 198);
  border: 2px solid black;
  /* margin: 1.2rem; */
}

.modal-item-description-box{
  margin-left: 3rem;
  margin-right: 3rem;
}

.modal-container {
  position: absolute;
  width: 80%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.detail-modal-container {
  position: absolute;
  width: 60%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.detail-modal-content {
  border-radius: 8px;
  position: relative;
  text-align: left;
  align-items: center;
  width:90%;
  /* padding: 0 .5rem; */
  align-items: center;
}

.modal-content {
  border-radius: 8px;
  position: relative;
  text-align: left;
  align-items: center;
  width: 80%;
  padding: 0 2rem;
  align-items: center;
}

@media screen and (max-width: 768px) {

  .book,
  .book-img {
    width: 150px;
    height: 150px;
  }

  .card {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mob-text {
    font-size: 13px;
  }

  .pad-left {
    padding-left: 20px;
  }
}